{% extends "base.html" %}
{% block content %}

<div class="container">
    <aside class="sidebar">
        <h2>📝 To-Do List</h2>
        <button id="modeToggle">🌙 Switch to Dark Mode</button>

        <!-- Category Dropdown -->
        <div class="category">
            <aside class="sidebar">
                <h2>📝 To-Do List</h2>
                <button id="modeToggle">🌙 Switch to Dark Mode</button>
    
                <!-- Category Dropdown -->
                <div class="category">
                    <h2>Category</h2>
    
                    <ul>
                        <li><a href="personal.html">Personal</a> </li>
                        <li><a href="work.html">Work</a> </li>
                        <li><a href="shopping.html">Shopping</a> </li>
                        <li><a href="fitness.html">Fitness</a> </li>
                        <li><a href="important.html">Important</a> </li>                
                    </ul>
    
                    <!-- Add Notes Button -->
                    <button id="addNote">Notes ➕ </button>
                </div>
            </aside>
        </div>
{% endblock %}

       