{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Shopping Tasks</h1>
        <!--Need a form in whcih user can type the task and the javascript function will be called-->
        <!--Need add task button to add new task--> 
        <form id="task-form" onsubmit=" return createTask()" >
            <input type="text" id="taskInput" placeholder="Add a new task..." required>
            <button type="submit">Add Task</button>
        </form>

       </div>
        
{% endblock %}
